@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Small Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    --sidebar-blue: #1992D4;
    --happy-yellow: #F0B429;
    --light-blue: #e7e5e4;
    --sidebar-black: #000000;
    --box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/*
Main Grid
*/
body {
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* 
Header 
*/

#header {
    background-color: white;
    color: black;
    grid-area: header;
    column-gap: 20px;
    padding: 0 40px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.row-one {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;
    padding: 10px 0;
    align-items: center;
}
#header .user-profile {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
    font-weight: bold;
}
#header .user-profile .icon-profile-small,
#header .user-greetings .icon-profile-large {
    border-radius: 50%;
}
#header .search {
    display: flex;
    align-items: center;
}
#header input {
    width: 70%;
    border: 1px solid #9ca3af;
    border-radius: 15px;
    height: 1.75rem;
    background-color: #e5e7eb;
    padding-left: 5px;
    margin-left: 10px;
}
#header 
.row-two {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 20px 0 20px 0;
}
#header .user-greetings {
   display: flex;
   align-items: center;
   font-weight: bold;
}
#header .user-greetings > div {
    margin-left: 10px;
 }
#header .user-greetings .hi {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
 }
 #header .user-name-full {
    font-size: 1.2rem;
 }
.buttons {
    display: flex;
    justify-content: space-evenly;
}
.buttons .btn {
    padding: 10px 35px;
    margin-left: 1rem;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 500ms;
}
.buttons .btn:hover, .buttons .btn:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* 
Sidebar 
*/

#sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-black);
    color: white;
    padding: 0 0 0 20px;
    position: relative;
}
.logo {
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
#sidebar .logo img  {
    margin-right: 10px;
}
#sidebar #hamburger {
    display: none;
    width: 30px;
    height: 10px;
    position: absolute;
    top: 40px;
    right: 20px;
}
#sidebar #hamburger span {
    display: block;
}
#sidebar #hamburger span:nth-child(1) {
    border-top: 3px solid #FFFFFF;
    margin-bottom: 4px;
}
#sidebar #hamburger span:nth-child(2) {
    border-top: 3px solid #FFFFFF;
    margin-bottom: 4px;
}
#sidebar #hamburger span:nth-child(3) {
    border-top: 3px solid #FFFFFF;
}
#sidebar .menu {
    margin-top: 2rem;
}
#sidebar a {
    color: white;
    font-size: 1.2rem;
}
#sidebar li {
    padding-left: 50px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.secondary-links {
    margin-top: 40px;
}
.menu li:nth-child(1) {
    background-image: url(images/home-variant-outline.svg);
}
.menu li:nth-child(2) {
    background-image: url(images/card-account-details-outline.svg);
}
.menu li:nth-child(3) {
    background-image: url(images/message-reply-outline.svg);
}
.menu li:nth-child(4) {
    background-image: url(images/clock-time-nine-outline.svg);
}
.menu li:nth-child(5) {
    background-image: url(images/file-document-multiple-outline.svg);
}
.menu li:nth-child(6) {
    background-image: url(images/account-group.svg);
}

.secondary-links li:nth-child(1) {
    background-image: url(images/cog-outline.svg);
}
.secondary-links li:nth-child(2) {
    background-image: url(images/help-box.svg);
}
.secondary-links li:nth-child(3) {
    background-image: url(images/shield-check-outline.svg);
}


/* 
Main Content 
*/

#main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    background-color: var(--light-blue);
    grid-template-areas: 
    "projects trending"
    "projects announcements";
    gap: 20px;
    padding: 2rem 1rem;
}
#main-content h2 {
    margin-bottom: 15px;
}
.projects {
    grid-area: projects;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: var(--light-blue);
    gap: 15px;
}
.card {
    padding: 30px 20px;
    border-left: 5px solid var(--happy-yellow);
    border-radius: 5px;
    background-color: white;
    box-shadow: var(--box-shadow);
}
.card h2 {
    font-weight: bold;
    font-size: 1rem;
}
.card a {
    color: black;
}
.card p {
    font-size: 0.75rem;
}
.card .utils {
    display: flex;
    justify-content: end;
}
.card .utils img {
    margin-left: 10px;
}
.announcements a {
    color: #000000;
    text-decoration: none;
}
.announcements .box, .trending .box {
    background-color: white;
    padding: 20px 10px;
    border-radius: 8px;
}
.announcements {
    grid-area: announcements;
}
.announcements .box {
    box-shadow: var(--box-shadow);
}
.announcements h3 {
    margin-bottom: 10px;
}


.trending {
   grid-area: trending;
}
.trending a {
    color: #000000;
    text-decoration: none;
}
.announcements .box {
    padding: 1rem 0.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 1299px) {
    #header {
        padding: 0 20px;
    }
    #main-content {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        background-color: var(--light-blue);
        grid-template-areas: 
        "projects"
        "trending"
        "announcements";
    }
}
@media only screen and (max-width: 1024px) {
    body {
        grid-template-areas: 
        "sidebar sidebar"
        "header header"
        "main-content main-content";
    }
    #header {
        padding: 0 15px;
    }
    #header .row-one {
        grid-template-columns: 1fr 1fr;
    }
    #header .row-two {
        grid-template-columns: 1fr 1fr;
    }
    #header .header input {
        width: 75%;
    }
    #header .buttons {
        justify-content: end;
    }
    #header .user-name-full {
        font-size: 0.95rem;
    } 
    #sidebar {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        padding-right: 20px;
        padding: 20px 20px 20px 20px;
    }
    #sidebar .logo {
        height: 60px;
    }
    #sidebar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #sidebar ul li {
        padding-left: 10px;
    }
    #sidebar .menu {
        margin-top: 10px;
        justify-content: space-between;
    }
    #sidebar .menu li {
        margin-bottom: 5px;
        background-image: none !important;
    }
    #sidebar .secondary-links {
        grid-column: 2 / -1;
        margin-top: 10px;
    }
    #sidebar .secondary-links li {
        margin-bottom: 20px;
        padding-left: 20px;
    }
    #sidebar .menu a {
        font-size: 1rem;
    }
    #sidebar .secondary-links a {
        font-size: 0.85rem;
    }
    
}
@media only screen and (max-width: 699px) {
    #header .user-name-full {
        font-size: 0.90rem;
    } 
    #header .buttons .btn {
        padding: 7px 20px;
        border-radius: 16px;
    }
    #sidebar {
        display: block;
        padding: 20px 0;
    }
    #sidebar .logo {
    grid-column: 1 / -1;
    padding-left: 20px;
    }
    #sidebar #hamburger {
        display: block;
    }
    #sidebar .nav {
        display: none;
    }
    #sidebar .nav.open {
        display: block;
    }
    /* #sidebar .menu {
        grid-column: 1 / -1;
    }
    #sidebar .secondary-links {
        grid-column: 1 / -1;
    } */
    #sidebar ul {
        display: block;
    }
    #sidebar ul li {
        display: list-item;
        padding-left: 20px;
    }
    #sidebar li a {
        display: block;
        padding: 5px 0;
    }
    #sidebar li a:hover {
        background-color: var(--light-blue);
    }
    #sidebar .menu {
        margin-top: 20px;
    }
    #sidebar .secondary-links {
        margin-top: 20px;
    }
    #sidebar .secondary-links li {
        background-image: none;
        margin-bottom: 7px;
        padding-left: 20px;
    }
    #sidebar .secondary-links li a {
        font-size: 1rem;
    }
    #header {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 576px) {
    #sidebar {
        display: block;
        padding: 20px 0;
    }
    /* #sidebar .logo {
        margin: 0 auto;
        justify-content: center;
    } */
    
}
